
/**** Responsive **/

@media screen and (max-width:1499px){
    .banner-section::after {   width: 72%;}
 header .navbar-light .navbar-nav .nav-link {padding: 0px 14px; }

    input.submit { min-width: 125px;}
    .email { min-width: 260px;  } 
.contact-detail { padding: 0;  min-width: 378px;}
    
}
    
@media (max-width:1199px) {

header .navbar-light .navbar-nav .nav-link {  padding: 0px 7px;}
header .navbar-light .navbar-nav .nav-link {  color: #000000; letter-spacing: 0.02em;  font-size: 12px;}

    
    }
    

@media (max-width:992px) {

.navbar-toggler-right.collapsed span.navbar-toggler-icon { opacity: 1;}
.navbar-toggler.navbar-toggler-right .cros-icon{ opacity: 1}
.navbar-toggler.navbar-toggler-right.collapsed .cros-icon{ opacity: 0;}
.navbar-toggler.navbar-toggler-right span.navbar-toggler-icon{ opacity: 0;}
.navbar-toggler-right.navbar-toggler-right.collapsed span.navbar-toggler-icon { opacity: 1;}
.navbar-toggler.navbar-toggler-right span.navbar-toggler-icon {  opacity: 0;}
    .contact-detail ul li {  margin-left: 0px; margin-right: 14px;}
 .navbar-toggler { padding: 2px 5px; float: right;} 
    .navbar { display: block;}
    .navbar-brand { width: 104px;}
 span.get-icon::before {  width: 14px;  height: 14px;  background-size: 100%;   left: 0;   top: 9px;  background-repeat: no-repeat;}
    header .navbar-light .navbar-nav .nav-link {  padding: 0px;}
li.nav-item.Started-nav { padding-left: 19px;}   
.navbar-brand img{ width: 100%;}

 .navbar-nav {  width: 100%;}   
}

/*** mobile Responsive **/

@media screen and (max-width:767px){
  
 .navbar-toggler {  margin-top: 2px;     padding: 2px 5px; float: right;} 
    .navbar { display: block;}
    .navbar-brand { width: 104px;}

.navbar-nav li.nav-item {
    text-align: left;
    padding: 8px 0px;
    border-bottom: 1px solid #f5f5f5;
} 
    header { padding: 5px 0px;}

    header .navbar-light .navbar-nav .nav-link {  padding: 0px;}
li.nav-item.Started-nav { padding-left: 19px;}   
.navbar-brand img{ width: 100%;}

}
    
@media screen and (max-width:557px){
}
/*** mobile end **/

