@import url(../web-font/fonts.css);
@import 'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css';
/*---------------------------------------------------------------------
- comen css
--------------------------------------------------------------------*/
@import url(responsive.css);
html,
body {
  margin: 0;
  padding: 0;
  counter-reset: section;
  background: #fff;
  font-family: 'FuturaPT-Medium';
  font-size: 14px; }

body {
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  background: transparent;
  font-weight: normal; }

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none; }

a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out; }

input,
textarea,
select {
  font-weight: normal; }

* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

select::-ms-expand {
  display: none; }

::-moz-selection {
  background: #a557a7;
  color: #fff; }

::selection {
  background: #a557a7;
  color: #fff; }

::-moz-selection {
  background: #a557a7;
  color: #fff; }

.form-control:focus {
  border-color: #d5d5d5;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 none; }

input,
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1440px; } }

/*---------------------------------------------------------------------
- header 
--------------------------------------------------------------------*/
.navbar {
  margin: 0;
  padding: 0; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff; }

header .navbar-light .navbar-nav .nav-link {
  line-height: 2; }

header {
  margin: auto;
  padding: 10px 0px; }

header .navbar-light .navbar-nav .nav-link {
  color: #fff;
  letter-spacing: 0.02em;
  font-size: 23px;
  text-transform: capitalize;
  padding: 0px 20px;
  font-family: 'FuturaPT-Medium'; }
  header .navbar-light .navbar-nav .nav-link:hover {
    color: #52ded6; }

header .navbar-light .navbar-nav li.login a.nav-link:hover {
  background: #52ded6;
  color: #fff; }

.contact-detail ul li a:hover {
  color: #52ded6; }

.navbar-brand {
  margin: 0;
  padding: 0; }

header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99; }

/*---------------------------------------------------------------------
- banner css start
--------------------------------------------------------------------*/
.banner-section {
  Height: 1084px;
  width: 100%;
  overflow: hidden; }

.banner-inner {
  position: relative;
  width: 100%;
  z-index: 99;
  top: 20%; }

header .navbar-light .navbar-nav li.login a.nav-link {
  min-width: 160px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 48px;
  line-height: 2.2;
  background: #fff;
  color: #fe7a8c;
  text-transform: uppercase; }

header .navbar-light .navbar-nav li.Sign-up a.nav-link {
  min-width: 160px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 48px;
  line-height: 2.2;
  text-transform: uppercase;
  margin-right: 10px; }

ul.slider-content {
  width: 100%;
  clear: both;
  margin-top: 15%; }

ul.slider-content li {
  display: block;
  padding: 10px 25px;
  position: relative; }

ul.slider-content li h2 {
  color: #fff;
  font-size: 31px;
  font-family: 'FuturaPT-Medium'; }

ul.slider-content li::before {
  content: "\f0da";
  font-size: 28px;
  font-family: FontAwesome;
  position: absolute;
  top: 8px;
  left: -12px;
  color: #fff; }

.skewed-bg {
  background: #00B285;
  padding: 200px 0;
  -webkit-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: -200px; }

.banner-section::before {
  background: #5e94fc;
  padding: 200px 0;
  -webkit-transform: skew(0deg, -10deg);
  -ms-transform: skew(15deg, -10deg);
  transform: skew(15deg, -10deg);
  margin-top: -200px;
  content: '';
  display: inline-block;
  height: 972px;
  width: 75%;
  margin-left: -13%;
  float: left;
  position: absolute; }

.banner-section::after {
  background: #fe7a8c;
  padding: 200px 0;
  float: right;
  -webkit-transform: skew(0deg, -10deg);
  -ms-transform: skew(15deg, 6deg);
  transform: skew(15deg, 6deg);
  margin-top: -200px;
  content: '';
  display: inline-block;
  height: 1091px;
  width: 64%;
  margin-right: -8%;
  position: absolute;
  top: 0;
  right: 0; }

.owl-dot {
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 4px; }

.testimonial h2.text-center.main-heading {
  color: #fff;
  z-index: 99;
  position: relative; }

.owl-dot.active {
  background: none;
  border: 2px solid #fff; }

.owl-dot.active {
  background: none;
  border: 3px solid #fff;
  padding: 6px; }

.owl-carousel .owl-item img {
  width: auto !important; }

.owl-dots {
  position: absolute;
  bottom: 52%;
  right: 38%; }

.owl-dot.active {
  background: none;
  border: 3px solid #fff;
  padding: 6px;
  margin-bottom: -3px; }

#octagon {
  width: 100px;
  height: 100px;
  background: #ac60ec;
  position: relative; }

#octagon:before {
  content: "";
  width: 42px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 29px solid #ac60ec;
  border-left: 29px solid #f4f4f4;
  border-right: 29px solid #f4f4f4; }

#octagon:after {
  content: "";
  width: 42px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 29px solid #ac60ec;
  border-left: 29px solid #f4f4f4;
  border-right: 29px solid #f4f4f4; }

span.cros-icon {
  position: absolute;
  top: 16px;
  right: 7px; }

span.cros-icon::before {
  position: absolute;
  top: 0px;
  right: 0;
  content: "";
  height: 2px;
  width: 26px;
  color: red;
  display: block;
  background: red;
  -webkit-transform: rotate(-38deg);
  -ms-transform: rotate(-38deg);
  transform: rotate(-38deg); }

span.cros-icon::after {
  position: absolute;
  top: 0px;
  right: 0;
  content: "";
  height: 2px;
  width: 26px;
  color: red;
  display: block;
  background: #068ade;
  -webkit-transform: rotate(38deg);
  -ms-transform: rotate(38deg);
  transform: rotate(38deg); }

.navbar-toggler {
  position: relative; }

span.cros-icon::before {
  position: absolute;
  top: 0px;
  right: 0;
  content: "";
  height: 2px;
  width: 26px;
  color: red;
  display: block;
  background: #068ade; }

/*---------------------------------------------------------------------
- main css start
--------------------------------------------------------------------*/
#main-slider .owl-nav {
  display: none; }

.about {
  text-align: center; }
  .about h2 {
    font-size: 55px;
    font-family: 'FuturaPT-Medium';
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 0.05em;
    color: #000; }
  .about p {
    color: #363636;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px; }
  .about .more {
    background: #52ded6;
    padding: 10px;
    font-size: 23px;
    color: #fff;
    border: 5px solid #d7f7f6;
    border-radius: 29px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 auto;
    min-width: 237px;
    margin-top: 20px; }
    .about .more:hover {
      background: #fe7a8c;
      border-color: #ff95a3; }

span.head-design {
  content: "";
  display: block;
  margin: 0 auto 30px; }
  span.head-design::before {
    content: "";
    display: inline-block;
    background: #52ded6;
    width: 45px;
    height: 10px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    position: inherit; }
  span.head-design::after {
    content: "";
    display: inline-block;
    background: #fe7a8c;
    width: 85px;
    height: 10px;
    border-radius: 10px;
    margin-left: 20px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }

.top_games {
  height: 600px;
  width: 100%;
  position: relative;
  margin-top: 105px;
  background: #5786e9; }

.top_games h2 {
  font-size: 55px;
  font-family: 'FuturaPT-Medium';
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
  color: #fff; }

.owl-nav {
  text-align: center; }

.owl-prev, .owl-next {
  background-size: 100%;
  width: 42px;
  height: 25px;
  background-repeat: no-repeat;
  margin: 8px;
  display: inline-block; }

/*---------------------------------------------------------------------
- footer css start
--------------------------------------------------------------------*/
