@mixin transition($transition) {
   -moz-transition:    $transition;
   -o-transition:      $transition;
   -webkit-transition: $transition;
   transition:         $transition;
}
@mixin position-center{
	 position: absolute; top: 50%; transform: translate(-50%);-webkit-transform:translateY(-50%); left: 0; right: 0;
}
@mixin buttons{
	background: $light-green; padding: 10px; font-size: 23px; color: $white; border: 5px solid #d7f7f6; border-radius: 29px;
	text-align: center;text-transform: uppercase;display: inline-block;
    margin: 0 auto;
    min-width: 237px; margin-top: 20px;
}
@mixin buttons-hover{
	background: $pink-color;
	border-color: $light-pink;
	
}
@mixin normal-box{
	margin: 0; 
	padding: 0;	
}	
@mixin login-hover{
	background: $light-green;
}