/*---------------------------------------------------------------------
- comen css
--------------------------------------------------------------------*/
                
html,
body {
@include normal-box;
	counter-reset: section; background:#fff;font-family: 'FuturaPT-Medium'; font-size: 14px;     
}

body{overflow-x: hidden;}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
 @include normal-box;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    background: transparent;
    font-weight: normal;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

input,
textarea,
select {
    font-weight: normal;
}

* {
    outline: none;box-sizing: border-box;
}
img{ max-width: 100%;}

select::-ms-expand {
	display: none;
}
 ::selection {
    background: #a557a7;
    color: #fff;
}
::-moz-selection {
    background: #a557a7;
    color: #fff;
}
.form-control:focus {
    border-color: #d5d5d5;
    box-shadow: none;
    outline: 0 none;
}
input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
ul, ol{ margin: 0; padding: 0;}
li{ list-style: none;}
@media screen  and (min-width:1500px){  
    .container{
        max-width:1440px;
    }
}



/*---------------------------------------------------------------------
- header 
--------------------------------------------------------------------*/

.navbar{ 
       @include normal-box;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{ 
									color: #fff;
								    }
header .navbar-light .navbar-nav .nav-link {
											line-height: 2;
                                            }
header{ 
	    margin: auto; padding: 10px 0px;
       }
header {
	.navbar-light {
	              .navbar-nav {
					  .nav-link {
											color: $white ;
											letter-spacing: 0.02em;
											font-size: 23px;
											text-transform: capitalize;
											padding: 0px 20px; 
											font-family: 'FuturaPT-Medium';
												&:hover{
													color: $light-green;
												}
										}
					  & li.login a.nav-link:hover{
						  @include login-hover;
						  color: $white;
					  }
					  
	    }
	}
}
.contact-detail ul li a:hover{ color: $light-green;}
.navbar-brand {
               @include normal-box;
              }
header { 
	position: absolute;  
	width: 100%; 
	top: 0; 
	z-index: 99;
}



