/*---------------------------------------------------------------------
- banner css start
--------------------------------------------------------------------*/

.banner-section {
	            Height: 1084px; 
	            width: 100%; 
	            overflow: hidden;
                }
.banner-inner { 
	           position: relative;  
	           width: 100%; 
	           z-index: 99; 
	           top: 20%;
               }
header .navbar-light .navbar-nav li.login a.nav-link {  
	                                                min-width: 160px;  
	                                                text-align: center;  
	                                                border: 2px solid $white;  
	                                                border-radius: 48px;    
	                                                line-height: 2.2; 
	                                                background: #fff; 
	                                                color: $pink-color; 
	                                                text-transform: uppercase;
                                                    }
header .navbar-light .navbar-nav li.Sign-up a.nav-link {  
	                                                min-width: 160px;
	                                                text-align: center;  
	                                                border: 2px solid $white; 
	                                                border-radius: 48px;
                                                    line-height: 2.2;  
	                                                text-transform: uppercase; 
	                                                margin-right: 10px;
													}
ul.slider-content{ 
					width: 100%; 
					clear: both;
					margin-top: 15%;
				 }
ul.slider-content li{ 
						display: block; 
						padding: 10px 25px; 
						position: relative;
                     }
ul.slider-content li h2 {  
						color: $white;  
						font-size: 31px; 
						font-family: 'FuturaPT-Medium';
                        }
ul.slider-content li::before {
						content: "\f0da";   
						font-size: 28px;  
						font-family: FontAwesome;  
						position: absolute;  
						top: 8px;  
						left: -12px;
						color: $white;
					    }

.skewed-bg {
    background: #00B285;
    padding: 200px 0;
    -webkit-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    margin-top: -200px;
}

.banner-section::before {    background: #5e94fc;
    padding: 200px 0;
    -webkit-transform: skew(0deg, -10deg);
    transform: skew(15deg, -10deg);
    margin-top: -200px; content: ''; 
	display:inline-block;     
	height: 972px;    
	width: 75%;
    margin-left: -13%; 
	float: left; 
	position: absolute;}


.banner-section::after {
    background: #fe7a8c;
    padding: 200px 0;
    float: right;
    -webkit-transform: skew(0deg, -10deg);
    transform: skew(15deg, 6deg);
    margin-top: -200px;
    content: '';
    display: inline-block;
    height: 1091px;
    width: 64%;
    margin-right: -8%;
    position: absolute;
    top: 0;
    right: 0;
}
.owl-dot {  width: 13px;  height: 13px; background: #fff;  border-radius: 50%;  display: inline-block; margin: 0px 4px;}
.testimonial h2.text-center.main-heading {  color: #fff;  z-index: 99;  position: relative;}
.owl-dot.active {background:none; border: 2px solid #fff;} 
.owl-dot.active {  background: none;  border: 3px solid #fff;  padding: 6px;}
.owl-carousel.owl-loaded { }
.owl-carousel .owl-item img {  width: auto!important;}
.owl-dots { position: absolute;  bottom: 52%;  right: 38%;}
.owl-dot.active {  background: none;  border: 3px solid #fff;  padding: 6px;  margin-bottom: -3px;}


#octagon {
    width: 100px;
    height: 100px;
    background: #ac60ec;
    position: relative;
}

#octagon:before {
    content: "";
    width: 42px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid #ac60ec;
    border-left: 29px solid #f4f4f4;
    border-right: 29px solid #f4f4f4;
}

#octagon:after {
    content: "";
    width: 42px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid #ac60ec;
    border-left: 29px solid #f4f4f4;
    border-right: 29px solid #f4f4f4;
}    

 span.cros-icon {  position: absolute;  top: 16px;  right: 7px;}  
 span.cros-icon::before {  position: absolute;  top: 0px;  right: 0;   content: "";  height: 2px;  width: 26px; color: red;
    display: block;  background: red;  transform: rotate(-38deg);} 
 span.cros-icon::after {  position: absolute;  top: 0px;  right: 0;   content: "";  height: 2px;  width: 26px; color: red;
    display: block;  background: #068ade;  transform: rotate(38deg);}
.navbar-toggler{ position: relative;}
span.cros-icon::before {  position: absolute;  top: 0px;  right: 0;   content: "";  height: 2px;  width: 26px;   color: red;  display: block;
    background: #068ade;}





/*---------------------------------------------------------------------
- main css start
--------------------------------------------------------------------*/

#main-slider .owl-nav {  display: none;}
.about{text-align: center;
    h2{ 
		font-size: $heading-size;
		font-family: 'FuturaPT-Medium'; 
		text-transform: uppercase;
		font-weight: bold; margin-bottom: 30px;
		letter-spacing: 0.05em;
		color: $black-color;
        } 
	& p{
		color: #363636;
		font-size: 20px; 
		font-weight: 300;
		margin-bottom: 30px;
	    }
	& .more{
	    @include buttons;
		
		&:hover{ 
				 @include buttons-hover; 
			   }	
           }
	
        }
span.head-design{
				  content: "";
				  display: block;
				  margin:0 auto 30px;
				  &::before{
							content: "";
							display: inline-block;
							background: $light-green;
							width: 45px;
							height: 10px;
							border-radius: 10px;    
							transform: none; 
							position: inherit;
						}
				  &::after{
							content: "";
							display: inline-block;
							background: $pink-color;
							width: 85px;
							height: 10px;
							border-radius: 10px; 
							margin-left: 20px;    
							transform: none;
						}

                }


.top_games{
			  height: 600px;
			  width: 100%;
			  position: relative;
			  margin-top: 105px;
			  background: #5786e9
	}


.top_games{
			h2{
				font-size: 55px;
				font-family: 'FuturaPT-Medium';
				text-transform: uppercase;
				font-weight: normal;
				margin-bottom: 30px;
				letter-spacing: 0.05em;
				color: #fff;
			}
	
	
          }

.owl-nav { 
	      text-align: center;
         }
.owl-prev, .owl-next { 
						background-size: 100%;
						width: 42px;
						height: 25px;
						background-repeat: no-repeat;
						margin: 8px;display: inline-block; 
                      }

